[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
"discord.py" = "*"
requests = "*"
spotipy = "*"
youtube-dl = "*"
youtube-search = "*"
pynacl = "*"

[dev-packages]

[requires]
python_version = "3.9"
